body {
    background-color: rgb(218, 218, 218);
    padding: 70px 0;
    text-align: center;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div {
    padding:25px;
}
@media only screen and (min-width: 800px) {
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}
}
#growing {
    transition: font-size 3s, color 2s;
    font-color: black;
    font-style: strong;
    border: none;
  }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 15%;
    margin-left: -30px;
    font-size: 15px;
    opacity: 80%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @keyframes Kaira-yell {
    from {font-size:25px;}
    to {font-size:40px;}
    
  }

 #yell-id {
    height: 100px;
    animation-name: Kaira-yell;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

 /* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}
